[tool.poetry]
name = "sdss-lvmcam"
version = "0.3.3"
description = "The package for lvmcam"
authors = ["Mingyu Jeon <mgjeon@khu.ac.kr>", "Sumin Lee <lxmark888@khu.ac.kr>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/sdss/lvmcam"
repository = "https://github.com/sdss/lvmcam"
documentation = "https://sdss-lvmcam.readthedocs.org"
keywords = ["astronomy", "software"]
classifiers = [
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: OS Independent",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "lvmcam", from = "python" }
]
include = ["python/lvmcam/etc/*"]

[tool.poetry.build]
generate-setup-file = false

[tool.poetry.scripts]
lvmcam = "lvmcam.__main__:lvmcam"
container_build ="container:build"
container_start ="container:start"
container_stop ="container:stop"
container_isRunning ="container:isRunning"
container_autotuner ="container:autotuner"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
sdss-basecam = "^0.7.1"
sdss-cluplus = ">=0.2.10"
sdss-araviscam = ">=0.1.91"
sdss-skymakercam = ">=0.0.6"

[tool.poetry.dev-dependencies]
ipython = ">=7.11.0"
flake8 = ">=3.7.9"
doc8 = ">=0.8.0"
pytest = ">=5.2.2"
pytest-asyncio = ">=0.10.0"
pytest-cov = ">=2.8.1"
pytest-mock = ">=1.13.0"
pytest-sugar = ">=0.9.2"
isort = ">=4.3.21"
codecov = ">=2.0.15"
coverage = {version = ">=5.0", extras = ["toml"]}
ipdb = ">=0.12.3"
rstcheck = ">=3.3.1"
Sphinx = ">=3.0.0"
black = ">=23.1.0"

[tool.black]
line-length = 88
target-version = ['py311']
fast = true

[tool.isort]
profile = "black"
sections = ["FUTURE", "STDLIB", "TYPING", "THIRDPARTY", "SDSS", "FIRSTPARTY", "LOCALFOLDER"]
default_section = "THIRDPARTY"
known_first_party = "lvmcam"
known_typing = ["typing"]
known_sdss = ["sdsstools", "araviscam", "skymakercam", "clu", "lvmtipo", "basecam", "cluplus"]
lines_after_imports = 2

[tool.pytest.ini_options]
addopts = "--cov lvmcam --cov-report xml --cov-report html --cov-report term"

[tool.coverage.run]
branch = true
include = ["python/lvmcam/*"]
omit = [
    "*/__init__.py",
]

[tool.coverage.report]
exclude_lines = [
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
